root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

# Default severity for analyzer diagnostics with category 'Major Bug'
dotnet_analyzer_diagnostic.category-Major Bug.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1121: Use built-in type alias
dotnet_diagnostic.SA1121.severity = none

# S3903: Types should be defined in named namespaces
dotnet_diagnostic.S3903.severity = none
