root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# S3903: Types should be defined in named namespaces
dotnet_diagnostic.S3903.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none
