root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

# S3903: Types should be defined in named namespaces
dotnet_diagnostic.S3903.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1121: Use built-in type alias
dotnet_diagnostic.SA1121.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.SpacingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = none
